* {
  margin: 0;
}

body {
  --primary-color: #1C1D22;
  --secondary-color: #5570F1;
  --dark-gray-color: #1C1D22;
  --accent-color: #353535;
  --accent2-color: #FFEAD1;
  --white-color: #fff;
  --gray-color: #33343A;
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}